/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');
body {
	font-size: 14px;
	line-height: 1.8;
	height: 100%;
	color: #222;
	font-weight: 400;
	font-family: 'Montserrat';
	background-image: url("../images/signup-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center center;
}

/* Homepage css starts */

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-image: url(/static/media/signup-bg.c72d0468.jpg);
	min-height: 100%;
	padding-top: 60px;
	height: 85vh;
	display: flex;
	align-items: center;
}

.social-icons a.w3-button {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translatey(-50%);
	padding: 0;
}

.social-icons a.w3-button:hover {
	background-color: transparent !important;
	transform: scale(1.2);
	top: 30%;
}

.social-icons a i {
	border: 2px solid #f8f9fa;
	padding: 10px;
	border-radius: 100%;
	margin-right: 0 !important;
	color: #fff;
}

.header-link a {
	color: black;
	text-decoration: none;
}

.w3-bar .w3-button {
	padding: 16px;
}

.w3-greyscale {
	filter: grayscale(50%);
}

body .dashboard-page {
	background-image: none;
	background-color: white;
	padding: 0px;
}

.login-container {
	float: right;
	padding: 5% 10% 0px 30%;
}

.login-container .card {
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.login-container .card-header hr {
	color: white;
	border: 1px solid;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.logout_btn {
	color: black;
	background-color: #FFC312;
}

.logout_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.75rem 1rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

.dashboard-page .card-header {
	background: #2375A7;
	color: #fff
}

.bg-blue {
	background: #69BCEE;
}

.bg-dark-blue {
	background: #2375A7;
}

.text-underline {
	text-decoration: underline;
}

/* @extend display-flex; */

display-flex, .display-flex, .display-flex-center {
	display: flex;
	display: -webkit-flex;
}

/* @extend list-type-ulli; */

list-type-ulli {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Montserrat-300 - latin */

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/montserrat/Montserrat-Light.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat/Montserrat-Regular.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/montserrat/Montserrat-Italic.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/montserrat/Montserrat-Medium.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/montserrat/Montserrat-Bold.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/montserrat/montserrat-v12-latin-900.ttf"), url("../fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype");
}

a:focus, a:active {
	text-decoration: none;
	outline: none;
	transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
}

input, select, textarea {
	outline: none;
	appearance: unset !important;
	-moz-appearance: unset !important;
	-webkit-appearance: unset !important;
	-o-appearance: unset !important;
	-ms-appearance: unset !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	-o-appearance: none !important;
	-ms-appearance: none !important;
	margin: 0;
}

input:focus, select:focus, textarea:focus {
	outline: none;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
}

input[type=checkbox] {
	appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
	-o-appearance: checkbox !important;
	-ms-appearance: checkbox !important;
}

input[type=radio] {
	appearance: radio !important;
	-moz-appearance: radio !important;
	-webkit-appearance: radio !important;
	-o-appearance: radio !important;
	-ms-appearance: radio !important;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

p {
	margin-bottom: 0px;
	font-size: 15px;
	color: #777;
}

h2 {
	line-height: 1.66;
	margin: 0;
	padding: 0;
	font-weight: 900;
	color: #222;
	font-family: 'Montserrat';
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.clear {
	clear: both;
}

.logo-name {
	font-weight: 600;
	letter-spacing: 3px;
}

.invoice-lable {
	font-size: 16px;
	font-weight: 500;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
	border-radius: 10px;
	height: 50px;
	width: 100px;
}

.page-container {
	width: 660px;
	position: relative;
	margin: 0 auto;
}

.display-flex {
	justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
}

.display-flex-center {
	justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.signup-content {
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	padding: 50px 85px;
	margin-top: 100px;
}

.form-group {
	overflow: hidden;
	margin-bottom: 20px;
}

.form-input {
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 500;
	color: #222;
}

.form-input::-webkit-input-placeholder {
	color: #999;
}

.form-input::-moz-placeholder {
	color: #999;
}

.form-input:-ms-input-placeholder {
	color: #999;
}

.form-input:-moz-placeholder {
	color: #999;
}

.form-input::-webkit-input-placeholder {
	font-weight: 500;
}

.form-input::-moz-placeholder {
	font-weight: 500;
}

.form-input:-ms-input-placeholder {
	font-weight: 500;
}

.form-input:-moz-placeholder {
	font-weight: 500;
}

.form-input:focus {
	border: 1px solid transparent;
	-webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
	-moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
	-o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
	border-image-source: linear-gradient(to right, #9face6, #74ebd5);
	-webkit-border-image-slice: 1;
	border-image-slice: 1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.form-input:focus::-webkit-input-placeholder {
	color: #222;
}

.form-input:focus::-moz-placeholder {
	color: #222;
}

.form-input:focus:-ms-input-placeholder {
	color: #222;
}

.form-input:focus:-moz-placeholder {
	color: #222;
}

.form-submit {
	width: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
	background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
	background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
	background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
	background-image: linear-gradient(to left, #74ebd5, #9face6);
}

input[type=checkbox]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

input[type=checkbox]:not(old)+label {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 25px;
}

input[type=checkbox]:not(old)+label>span {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 15px;
	margin-bottom: 3px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	background: white;
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
	vertical-align: bottom;
}

input[type=checkbox]:not(old):checked+label>span {
	background-image: -moz-linear-gradient(white, white);
	background-image: -ms-linear-gradient(white, white);
	background-image: -o-linear-gradient(white, white);
	background-image: -webkit-linear-gradient(white, white);
	background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked+label>span:before {
	content: '\f26b';
	display: block;
	color: #222;
	font-size: 11px;
	line-height: 1.2;
	text-align: center;
	font-family: 'Material-Design-Iconic-Font';
	font-weight: bold;
}

.label-agree-term {
	font-size: 12px;
	font-weight: 600;
	color: #555;
}

.term-service {
	color: #555;
}

.loginhere {
	color: #555;
	font-weight: 500;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 5px;
}

.loginhere-link {
	font-weight: 700;
	color: #222;
}

.field-icon {
	float: right;
	margin-right: 17px;
	margin-top: -32px;
	position: relative;
	z-index: 2;
	color: #555;
}

.forgot-password {
	float: right;
	color: black;
}

.errorMsg {
	color: red;
	font-size: 14px;
}

.list-group-item.active {
	background-color: #72BBE1;
	color: white;
	border-color: #72BBE1;
}

.css-yk16xz-control {
	background-color: #F7F7F7 !important;
}

.css-1wa3eu0-placeholder {
	color: #3EC1EB;
	font-size: 13px;
}

.css-1okebmr-indicatorSeparator {
	display: none;
}

.css-yk16xz-control:hover {
	border-color: transparent;
}

.css-1pahdxg-control {
	border-color: transparent;
}

.css-2613qy-menu {
	font-size: 120px !important;
	border-color: transparent;
}

.css-1g48xl4-IndicatorsContainer {
	position: relative
}

.css-1g48xl4-IndicatorsContainer::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	margin-right: 10px;
	margin-left: 10px;
	color: #000;
	position: absolute;
	right: 0px;
	z-index: 0;
	content: '';
	font-size: 24px;
	top: 15px;
}

.css-tlfecz-indicatorContainer {
	display: none
}

.css-1gtu0rj-indicatorContainer {
	display: none;
}

.css-12jo7m5 {
	font-size: 12px;
}

.css-1hwfws3 {
	padding: 0px 2px;
}

.ReactTable .rt-thead .rt-tr {
	padding: 10px 0px 10px 10px;
	text-align: center;
	color: white;
	background: #3275a6;
}

.ReactTable .rt-tr {
	padding: 5px 0px 5px 10px;
	text-align: center;
}

.ReactTable .rt-table {
	border-radius: 10px;
}

.rt-resizer:after {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: ' ';
	border-top: 7px solid #fff;
	position: absolute;
	top: 15px;
}

.rt-resizer:before {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: ' ';
	border-bottom: 7px solid #fff;
	position: absolute;
	top: 4px;
}

.ReactTable .rt-resizer {
	right: 0;
	width: 0;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
	box-shadow: none;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
	box-shadow: none;
}

.modal-header {
	padding: 10px;
	background-color: #3275a6;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-title {
	font-size: 16px;
	color: white;
}

.modal-body h6 {
	font-size: 14px;
	line-height: 20px;
}

.modal-content {
	border: 1px solid #3275a6;
}

.modal-dialog {
	max-width: 690px;
}

.modal-footer {
	border-top: 1px solid #3275a6;
	background: #d6eef5;
}

.cursor-pointer {
	cursor: pointer;
}

#menu-toggle {
	font-size: 22px;
}

.notifications {
	min-width: 420px;
	right: 5px;
	left: auto;
	top: 40px;
}

ul.dropdown-menu.notifications:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-right: 0;
	margin-left: 0;
	margin-top: -25px;
}

.notifications-wrapper {
	overflow: auto;
	max-height: 250px;
}

.menu-title {
	color: #ff7788;
	font-size: 1.5rem;
	display: inline-block;
}

.notification-heading, .notification-footer {
	padding: 2px 10px;
}

.dropdown-menu.divider {
	margin: 5px 0;
}

.item-title {
	font-size: 1.3rem;
	color: #000;
}

.notifications a.content {
	text-decoration: none;
	background: #ccc;
}

.notification-item {
	padding: 10px;
	margin: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background: #f8f7f6;
}

.notification-item p {
	color: #222;
	font-size: 14px;
}

.badge {
	font-size: 60%;
	font-weight: 600;
	border-radius: 100%;
	position: absolute;
}

.generate-btn {
	background-color: #3275a6 !important;
	border-color: #3275a6 !important;
}

.text-area::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a29c9c;
	font-size: 14px;
	opacity: 1;
	/* Firefox */
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}
	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

@media screen and (max-width: 768px) {
	.page-container {
		width: calc(100% - 40px);
		max-width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.signup-content {
		padding: 50px 25px;
	}
}